{{#partial "content"}}
    <h1>Place list!</h1>
    {{#if places}}
        <h2>I been here:</h2>
        {{#each places}}
            <p>{{name}}</p>
            <p>{{location}}</p>
            <p>{{notes}}</p>

        {{/each}}
    {{else}}
        <p>No places</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}