{{#partial "content"}}
    <h1>Post list!</h1>
    {{#if posts}}
        {{#each posts}}
            <p>Current post:</p>
            <p>{{name}} <a href="/places/{{id}}">see what you thought ...</a></p>
        {{/each}}
    {{else}}
        <p>No places</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}