<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Places You've Been{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>Where You Been?! <br><small>store some places you were and what you thought about them</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}